html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  margin-top: 5px;
  margin-bottom: 200px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.c-width{
  min-height: 80vh;
}
.nav-link {
  font-size: calc(0.6rem + 0.6vw);
}

.nav-item>a{
  color: black;
}

.navbar{
  color: black;
  position: fixed;
  background: #d9faffcc;
  overflow: visible;
  text-decoration: none;
  z-index: 100;
}

.up-row{
  margin-top: 15vh;
}

footer {
  background-color: #0b467b;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.cardBtn {
  background: #2371de;
  /* Shadow/ Primary/ Button */
  box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
  border-radius: 15px;
}

.home-btn-icon {
  left: 81.2%;
  right: 8.65%;
  top: 24.5%;
  bottom: 24.02%;
}
.sch-bg{
  background-image: url(../public/assests/images/schedule.jpg) ;
}

.home-bg {
  background-image: url(../public/assests/images/HomeBackground2.png);
  background-size: cover;
  background-attachment: fixed;
}

.admin-home {
  background-image: url(../public/assests/images/admin-home-bg.png);
  background-size: 100% 100%;
}
.caretaker-home {
  background-image: url(../public/assests/images/Caretaker-homepage.png);
  background-size: 100% 100%;
}


.token-count-circle {
  box-sizing: border-box;
  height: 16vh;
  width: 16vh;

  background: #4b91f1;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;

  color: white;
  /* justify-content: center;
  align-items: center; */
}

.phone-bg-image{
  position: relative;
  width: 100%;
}
.qrimage{
  height: 22vh;
  position: absolute;
  margin:auto;
  left: 0;
  top:0;
  right:0;
  bottom:0;
}
.plane {
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 260px;
}
.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}
.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.seat {
  width: 60px;
  padding: 5px;
  position: relative;
}
.seat:nth-child(2) {
  margin-right: 22%;
}
.seat input[type=radio] {
  position: absolute;
  opacity: 0;
}
li>input{
  -webkit-appearance:none;
}
.seat input[type=radio]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.seat .booked + label {
  background: rgb(240, 70, 70);
  text-indent: -9999px;
  overflow: hidden;
}
.seat .booked + label:after  {
  content: "B";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);  
}
.seat .booked + label:hover {
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
}
.seat input[type=radio]:disabled + label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=radio]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type=radio]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #25a1f4;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5c6aff;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
 }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
 }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
 }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
 }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
 }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
 }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
 }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
 }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
 }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
 }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.btn-grp {
  border-radius: 1rem;
  text-transform: capitalize;
}
.btn-grp-sch {
  border: none;
  /* min-width: 6rem; */
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  background-color: #2371de9a;
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  box-shadow: inset 0px 0px 0px -15px #d9faffcc;
  transition: all 300ms ease-out;
  text-transform: capitalize;
}
.btn-grp-sch:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.btn-grp-sch:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn-grp-sch:hover,
.btn-grp-sch:focus {
  color:  #ffffff;
  box-shadow: inset 0px -20px 0px -15px #d9faffcc;
}
.btn-grp-sch:focus {
  outline: none;
}
.btn-grp-sch:after {
  content: "✔️";
  margin-left: 0.5rem;
  display: inline-block;
  color:#d9faffcc;
  position: absolute;
  transform: translatey(10px);
  opacity: 0;
  transition: all 200ms ease-out;
}
.btn-grp-sch--active:after {
  opacity: 1;
  transform: translatey(-2px);
}